* {
    font-family:Arial, Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
}

footer {
    background: black;
    color: white;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: large;
    bottom: 0;
    width: 100%;
    position: absolute;
}

nav {
    background: black;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 28px;
    padding-left: 15px;
    font-size: larger;
}

nav a {
    padding: 5px;
    font-weight: bold;
    font-size: larger;
}

a {
    text-decoration: none;
    color: white;   
}

a:visited {
    color: white;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
}